In [1]:
#importing numpy and pandas
import numpy as np
import pandas as pd

In [4]:
#generating random houses
houses = np.random.randint(4000, 20000, size=120)
houses

array([ 9616, 10121, 19030, 14160, 10601,  9931, 12533, 11950,  5672,
       17585,  8326, 13624,  5643, 12439,  9344, 16107, 13360, 19188,
       10017, 16345, 19780, 11113,  5015, 14415, 13328, 10350,  4548,
       16911, 10709, 15847, 15071,  6920, 11893,  7013, 11093, 12974,
       19607, 12156, 15921, 12496, 12349, 11653, 15750,  6868, 11481,
       16791,  5254, 14929,  9189, 17809, 14979, 15388, 13619, 18284,
       19956, 13993,  7135,  8903, 18116, 18185,  8606, 14252,  8940,
        8139, 19477, 11363,  6939, 15755,  9439, 10485, 15685, 13102,
        6260, 13043, 14347, 15888,  4591, 13589, 16922,  9616,  8167,
       16936,  4633,  6616, 13994, 14518, 16655,  4115, 17591, 11642,
        8651, 19477,  9495, 13892,  6547, 18549,  9621,  8571, 15597,
       18318, 15355,  5156,  6162, 13344,  9490,  6671, 15058, 19162,
       15522, 11539, 15288,  9255,  9201, 19328,  4883, 16542,  4236,
       11162, 13364,  8654])

In [46]:
#houses series
houses_series = pd.Series(houses, name='House Price')
houses_series

0       9616
1      10121
2      19030
3      14160
4      10601
       ...
115    16542
116     4236
117    11162
118    13364
119     8654
Name: House Price, Length: 120, dtype: int32

In [9]:
#displaying the first seven houses
houses_series.head(7)

0     9616
1    10121
2    19030
3    14160
4    10601
5     9931
6    12533
Name: Houses, dtype: int32

In [10]:
#displaying the last seven houses
houses_series.tail(7)

113    19328
114     4883
115    16542
116     4236
117    11162
118    13364
119     8654
Name: Houses, dtype: int32

In [21]:
def house_category(x):
    if 20000>= x> 15000:
        return "Rhunda"
    elif 15000>= x >10000:
        return "Kileleshwa"
    elif 10000>= x >5000:
        return "Buru"
    elif 5000>= x >=1000:
        return "Donholm"
    else:
        return "No House Available"
house_category(12000)

'Kileleshwa'

In [22]:
house_category(1000)

'Donholm'

In [23]:
house_category(6000)

'Buru'

In [24]:
house_category(21000)

'No House Available'

In [25]:
house_category(800)

'No House Available'

In [26]:
house_category(18000)

'Rhunda'

In [30]:
houses_locations = houses_series.apply(house_category)
houses_locations

0            Buru
1      Kileleshwa
2          Rhunda
3      Kileleshwa
4      Kileleshwa
          ...
115        Rhunda
116       Donholm
117    Kileleshwa
118    Kileleshwa
119          Buru
Name: Houses, Length: 120, dtype: object

In [31]:
houses_locations.rename("House Location", inplace=True)

0            Buru
1      Kileleshwa
2          Rhunda
3      Kileleshwa
4      Kileleshwa
          ...
115        Rhunda
116       Donholm
117    Kileleshwa
118    Kileleshwa
119          Buru
Name: House Location, Length: 120, dtype: object

In [32]:
houses_locations

0            Buru
1      Kileleshwa
2          Rhunda
3      Kileleshwa
4      Kileleshwa
          ...
115        Rhunda
116       Donholm
117    Kileleshwa
118    Kileleshwa
119          Buru
Name: House Location, Length: 120, dtype: object

In [33]:
new_prices = houses_series.map(lambda i: i* 1.10)
new_prices

0      10577.6
1      11133.1
2      20933.0
3      15576.0
4      11661.1
        ...
115    18196.2
116     4659.6
117    12278.2
118    14700.4
119     9519.4
Name: Houses, Length: 120, dtype: float64

In [48]:
new_prices.rename('Adjusted House Price', inplace=True)

0      10577.6
1      11133.1
2      20933.0
3      15576.0
4      11661.1
        ...
115    18196.2
116     4659.6
117    12278.2
118    14700.4
119     9519.4
Name: Adjusted House Price, Length: 120, dtype: float64

In [36]:
overall_prices = new_prices.apply(lambda y: y+250)
overall_prices

0      10827.6
1      11383.1
2      21183.0
3      15826.0
4      11911.1
        ...
115    18446.2
116     4909.6
117    12528.2
118    14950.4
119     9769.4
Name: New Prices, Length: 120, dtype: float64

In [38]:
overall_prices.rename("Overall House Price", inplace= True)
overall_prices

0      10827.6
1      11383.1
2      21183.0
3      15826.0
4      11911.1
        ...
115    18446.2
116     4909.6
117    12528.2
118    14950.4
119     9769.4
Name: Overall House Price, Length: 120, dtype: float64

In [51]:
Moringa_Property = pd.DataFrame({
    houses_locations.name: houses_locations,
    houses_series.name: houses,
    new_prices.name: new_prices,
    overall_prices.name: overall_prices
})
print("Moringa Property")
Moringa_Property

Moringa Property

    House Location  House Price  Adjusted House Price  Overall House Price
0             Buru         9616               10577.6              10827.6
1       Kileleshwa        10121               11133.1              11383.1
2           Rhunda        19030               20933.0              21183.0
3       Kileleshwa        14160               15576.0              15826.0
4       Kileleshwa        10601               11661.1              11911.1
..             ...          ...                   ...                  ...
115         Rhunda        16542               18196.2              18446.2
116        Donholm         4236                4659.6               4909.6
117     Kileleshwa        11162               12278.2              12528.2
118     Kileleshwa        13364               14700.4              14950.4
119           Buru         8654                9519.4               9769.4

[120 rows x 4 columns]